<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.rubato.kiosk</string>

	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-l</string>
		<string>-c</string>
		<string>__HOME__/Projects/rubato/scripts/kiosk.sh</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>StandardOutPath</key>
	<string>__HOME__/rubato-kiosk.log</string>

	<key>StandardErrorPath</key>
	<string>__HOME__/rubato-kiosk.log</string>
</dict>
</plist>
